:root {
    --widthImgMenu: 45svw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 1.2svw;
}

body {
    display: flex;
    overflow-x: hidden;

    #left {
        width: 25svw;
    }
    #right {
        width: 25svw;
    }
    #center {
        width: 50svw;


        height: 100svh;
        background-color: aqua;
    }

    #menu {
        position: absolute;


        #imgDIV {
            position: absolute;
            top: 50svh;
            left: 50svw;
            transform: translate(-50%, -50%);

            width: var(--widthImgMenu);
            height: fit-content;
            max-height: 80svh;
            border: 2px solid black;
            backdrop-filter: blur(1px);
            border-radius: .2svw;
            padding: 1svw;

            #addImgDiv{
                border: 2px solid black;
                width: 100%;
                padding: 1svw;

                input[type=file] {
    
                    &::file-selector-button {
                        border-radius: .2svw;
                        border: 2px solid black;
                        background-color: transparent;

                        &:hover{
                            border-color: gray;
                            color: gray;
                        }
                    }
                }
            }

        }





        &>div {
            display: flex;
            gap: 1svw;
            margin: 1svw;
            height: 2.8svw;
            /* width: 100svw; */

            & * {
                backdrop-filter: blur(1px);
                &:hover {
                    border-color: gray;
                    color: gray;
                }
            }

        }

        details {
            padding: .5svw;
            border: black 2px solid;
            border-radius: .3svw;
            height: fit-content;

            display: flex;
            flex-direction: column;

            nav {
                display: flex;
                flex-direction: column;
                gap: 1svw;
            }
        }
        button {
            padding: .5svw;
            border: black 2px solid;
            border-radius: .3svw;
            background-color: transparent;
            height: fit-content;


        }
        a {
            padding: .5svw;
            border: black 2px solid;
            border-radius: .3svw;
            background-color: transparent;
            color: black;

        }
        select {

            appearance: none;
            -webkit-appearance: none;
            padding: .5svw;
            border: black 2px solid;
            border-radius: .3svw;
            background-color: transparent;
            color: black;

            &::-ms-expand {
                display: none;
            }
            &:after {
                background-color: transparent;
            }
        }
    }
}
#logForm {
    margin-top: 2svw;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}




@keyframes rotate180 {
    to {
        transform: rotate(180deg);
    }
}









@media (min-width: 0px) and (max-width: 600px) {
    :root {
        --widthImgMenu: 75svw;
    }

    * {
        font-size: 3.5svw;
    }
    body {

        #center {
            width: 100svw;
        }
        #left {
            display: none;
        }
        #right {
            display: none;
        }
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    :root {
        --widthImgMenu: 65svw;
    }

    * {
        font-size: 2.5svw;
    }
    body {

        #center {
            width: 80svw;
        }
        #left {
            width: 10svw;
        }
        #right {
            width: 10svw;
        }
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    :root {
        --widthImgMenu: 55svw;
    }

    * {
        font-size: 2svw;
    }
    body {

        #center {
            width: 70svw;
        }
        #left {
            width: 15svw;
        }
        #right {
            width: 15svw;
        }
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    :root {
        --widthImgMenu: 50svw;
    }

    * {
        font-size: 1.5svw;
    }
    body {

        #center {
            width: 60svw;
        }
        #left {
            width: 20svw;
        }
        #right {
            width: 20svw;
        }
    }
}